<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>File Uploader</title>
        </head>
        <body> 
            <form enctype = "multipart/form-data" onsubmit="return false;" >
                <input id="file" type="file" name="static_file" />
                <button id="upload-button" onclick="upload(this.form)"> Upload </button>
            </form> <div id="static_file_response"> </div>
            <script type="text/javascript" src="/static/app.js"></script>
        </body>
</html>